.section {
  padding-top: 1rem; /* 16px */
  padding-bottom: 4rem; /* 64px */
}

.sectionPrimary {
  background-color: #292c40;
}

.sectionSecondary {
  background-color: #2e3247;
}

.header {
  margin-bottom: 2rem; /* 32px */
  text-align: center;
}

.subtitle {
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  color: #ffd154;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}

.title {
  font-size: 1.75rem; /* 28px */
  font-weight: 700;
  color: #fbfcff;
  line-height: 0.9;
}
